footer 
    .container 
        .footer-row
            a.logo(src="/")
                img.logo-img(src="/img/logo-footer.png")

            .copyrights © Центр пластической хирургии и стоматологии «Своя Клиника». Все права защищены.

            .socials 
                a.tlgm(href="#") 
                    img.icon.icon-tlgm(src="/img/icon-tlgm.png")
                    .link-text t.me/svoay_klinika
                a.vk(href="#") 
                    img.icon.icon-vk(src="/img/icon-vk.png")
                    .link-text svoya_klinika
            
            ul.footer-menu
                li.menu-item 
                    a.item-link(href="#") О клинике
                    a.item-link(href="#") Косметология
                    a.item-link(href="#") Пластическая хирургия
                    a.item-link(href="#") Трихология
                    a.item-link(href="#") Цены
                    a.item-link(href="#") Акции
                    a.item-link(href="#") Контакты