header 
    .container
        .header-row 
            a.logo(href="/")
                img.logo-img(src="/img/logo.png")
            
            nav.navigation 
                a.nav-item(href="#") О клинике
                a.nav-item(href="#") Косметология
                a.nav-item(href="#") Пластическая хирургия
                a.nav-item(href="#") Трихология
                a.nav-item(href="#") Цены
                a.nav-item(href="#") Контакты
            
            .worktime
                img.worktime-icon(src="/img/worktime.png")

            a.bvi-widget
                img.bvi-icon(src="/img/bvi.png")

            .socials
                a.social.social--tlgm(href="#")
                    img.social-icon(src="/img/icon-tlgm.png")
                a.social.social--vk(href="#")
                    img.social-icon(src="/img/icon-vk.png")
            
            form.search(method="POST") 
                input.search-field(type="text")
                input.search-submit(type="submit")