section.reviews 
    .container 
        .swiper-block
            .swiper.js__reviews
                .swiper-wrapper
                    .swiper-slide 
                        .slide-inner
                            .photo 
                            .name Иванова Марнау
                            .procedure ринопластика
                            .review Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae doloremque consequatur beatae accusantium repudiandae sapiente unde placeat cupiditate minima.
                    .swiper-slide 
                        .slide-inner
                            .photo 
                            .name Иванова Марнау
                            .procedure ринопластика
                            .review Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae doloremque consequatur beatae accusantium repudiandae sapiente unde placeat cupiditate minima.
                    .swiper-slide 
                        .slide-inner
                            .photo 
                            .name Иванова Марнау
                            .procedure ринопластика
                            .review Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae doloremque consequatur beatae accusantium repudiandae sapiente unde placeat cupiditate minima.
                    .swiper-slide 
                        .slide-inner
                            .photo 
                            .name Иванова Марнау
                            .procedure ринопластика
                            .review Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae doloremque consequatur beatae accusantium repudiandae sapiente unde placeat cupiditate minima.
                    .swiper-slide 
                        .slide-inner
                            .photo 
                            .name Иванова Марнау
                            .procedure ринопластика
                            .review Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae doloremque consequatur beatae accusantium repudiandae sapiente unde placeat cupiditate minima.
            
            

            .swiper-controls
                .prev 
                .swiper-pagination
                .next 

        .btn.show-all-team Все отзывыы всех специалистов