section.about-clinic 
    .container 
        .logo-row 
            a.logo(href='/')
                img.logo-img(src="/img/logo-green.png")
        h3.slogan &laquo;Своя клиника&raquo; &mdash; это полный спектр услуг 
            br
            | пластической хирургии и эстетической косметологии 

        .info 
            .column 
                P.text Вы всегда мечтали изменить свою внешность? Сделать более привлекательными черты лица, подтянуть проблемные части тела, приобрести нежную и шелковистую кожу, избавиться от морщин? 
            .column 
                p.text Все это может стать реальностью, если Вы обратитесь в клинику пластической хирургии и косметологии «Своя Клиника». Мы знаем, как сделать так, чтобы Вам понравилось отражение в зеркале, и Вы смогли почувствовать себя более уверенно.
                .btn.consult Запрос консультации