section.promo 
    .container 
        .swiper-block
            .swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .slide-inner
            .swiper-controls 
                .prev 
                .next 
            .swiper-navigation

section.categories
    .container 
        .swiper-block
            .swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .slide-inner
            .swiper-controls 
                .prev 
                .next 
            .swiper-navigation

            .categories
                .before-after 
                    .before До
                    .after После
                .show-all Посмотреть все