section.reviews 
    .container 
        .swiper 
            .swiper-wrapper 
                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .name Иванова Марнау
                        .procedure ринопластика
                        .review Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae doloremque consequatur beatae accusantium repudiandae sapiente unde placeat cupiditate minima.

                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .photo 
                
                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .name Иванова Марнау

                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .procedure ринопластика

                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .review Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae doloremque consequatur beatae accusantium repudiandae sapiente unde placeat cupiditate minima.
        .swiper-controls
            .prev 
            .next 
        .swiper-navigation 

        .btn.show-all-team Все отзывыы всех специалистов

        .banner 
            img.banner-img(src="/img/banner.jpg")