section.team 
    .container 
        .swiper 
            .swiper-wrapper 
                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .name 
                            .last Сиукаев
                            .first Анатолий Константинович
                        .position пластической хирург
                        .expirience стаж работы более 3 лет

                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .name 
                            .last Сиукаев
                            .first Анатолий Константинович
                        .position пластической хирург
                        .expirience стаж работы более 3 лет
                
                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .name 
                            .last Сиукаев
                            .first Анатолий Константинович
                        .position пластической хирург
                        .expirience стаж работы более 3 лет

                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .name 
                            .last Сиукаев
                            .first Анатолий Константинович
                        .position пластической хирург
                        .expirience стаж работы более 3 лет

                .swiper-slide 
                    .slide-inner 
                        .photo 
                        .name 
                            .last Сиукаев
                            .first Анатолий Константинович
                        .position пластической хирург
                        .expirience стаж работы более 3 лет
        .swiper-controls
            .prev 
            .next 
        .swiper-navigation 

        .btn.show-all-team Посмотреть всех специалистов

        .banner 
            img.banner-img(src="/img/banner.jpg")