@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    position: relative;
    box-sizing: border-box;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: normal;
}
body {
    font-size: 10px;
    line-height: 1.5;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 1.5em;
    margin: 0 auto;
}

.flex {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border: 1px solid #333;
    .column {
        width: 50%;
        min-height: 400px;

        &:first-child {
            border-right: 1px solid #000;
        }
        &:last-child {
            border-left: 1px solid #000;
        }
    }
}